<div ng-controller="overviewCtrl">
    <p>OverView</p>

    <table class="cups">
        <tr>
            <th>No</th>
            <th/>
            <th>Name</th>
            <th>Start date</th>
            <th>End date</th>
            <th/>
        </tr>
        <tr ng-repeat="cup in cups">
            <td>{{ $index + 1 }}</td>
            <td ng-if="!edit"> <input type="button" value="Edit" ng-click="editCup($index)"> </td>
            <td ng-if="edit"> <input type="button" value="Save" ng-click="saveCup($index)"> </td>

            <td ng-if="!edit">{{ cup.name }}</td>
            <td ng-if="edit"> <input type="text" ng-model="cupNames[$index]" /> </td>

            <td>{{ cup.startDateTime | date : 'yyyy-MM-dd HH:mm' }}</td>
            <td>{{ cup.endDateTime | date : 'yyyy-MM-dd HH:mm' }}</td>

            <td ng-if="!showGame"> <input type="button" value="Show games" ng-click="showGames($index)"> </td>
            <td ng-if="showGame"> <input type="button" value="Hide games" ng-click="hideGames()"> </td>
        </tr>
    </table>

    <p ng-if="saveCompleted" ng-mouseover="disappear()"> Record is changed.</p>

    <div ng-if="showGame">
        <table class="cups">
            <tr>
                <th>Home</th>
                <th>Away</th>
                <th>Start date</th>
            </tr>
            <tr ng-repeat="game in games">
                <td>{{ game.homeTeamName }}</td>
                <td>{{ game.awayTeamName }}</td>
                <td>{{ game.startDateTime | date : 'yyyy-MM-dd HH:mm' }}</td>
            </tr>
        </table>
    </div>

    <a href="#!/" ng-click="logout()">Logout</a>
</div>