<table class="table-condensed">
    <tr>
        <th>Home</th>
        <th style="width: 55px;"> </th>
        <th> </th>
        <th style="width: 55px;"> </th>
        <th>Away</th>
        <th ng-if="showAddScore"> </th>
        <th>Date</th>
        <th ng-if="showAddScore"> </th>
    </tr>
    <tr ng-repeat="game in games">
        <td>{{ game.homeTeamName }}</td>
        <td style="text-align: right;">
            <input ng-if="!game.bidSet" type="text" ng-model="game.homeTeamScore" class="form-control"/>
            <span ng-if="game.bidSet" ng-bind="game.homeTeamScore"/>
        </td>
        <td>
            <span ng-if="showAddScore"> : </span>
            <span ng-if="!showAddScore"> - </span>
        </td>
        <td>
            <input ng-if="!game.bidSet" type="text" ng-model="game.awayTeamScore" class="form-control"/>
            <span ng-if="game.bidSet" ng-bind="game.awayTeamScore"/>
        </td>
        <td> {{ game.awayTeamName }} </td>
        <td ng-if="showAddScore">
            <div ng-if="isAdmin">
                <button ng-if="!game.bidSet" type="button" class="btn btn-success btn-xs" ng-click="addScore($index)">
                    Add score
                </button>
                <button ng-if="game.bidSet" type="button" class="btn btn-warning btn-xs" ng-click="changeScore($index)">
                    Change score
                </button>
            </div>
            <div ng-if="!isAdmin">
                <button ng-if="!game.bidSet" type="button" class="btn btn-success btn-xs" ng-click="addBid($index)">
                    Add bid
                </button>
                <button ng-if="game.bidSet" type="button" class="btn btn-warning btn-xs" ng-click="changeBid($index)">
                    Change bid
                </button>
            </div>
        </td>
        <td> {{ game.startDateTime | date : 'EEEE - MMM d @ H:mm' }} </td>
        <td ng-if="showAddScore">
            <span ng-bind="game.wrongBidMsg" style="color: darkred;"/>
        </td>
    </tr>
</table>